<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <script type="module" src="./boxes.js"></script>
</head>
<body>
    <header>
        <span>Playmobil</span>
        <span id="tSpnFullname"></span>
    </header>

    <main>
        <h1>Serie <span id="tSpnSerie"></span></h1>

        <div id="tDivBoxes" style="display: inline-grid; grid-template-columns: auto auto;">            
        </div>

        <button type="button" id="tButSend">Enviar</button>
    </main>
    
</body>
</html>