<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/views/style.css">

    <script type="module" src="/views/index.js"></script>
</head>
<body>
    
    <header>
        <div>Playmobil</div>
        <div id="tDivFullname">
            <a href="/views/login.html">Login</a>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/views/index.html">Inicio</a></li>
            <li><a href="/views/series.html">Series</a></li>
            <li><a href="/views/boxes.html"></a>Cajas</li>
            <li><a href="/views/figures.html"></a>Figuras</li>
        </ul>
    </nav>

    <main>

        

    </main>

</body>
</html>