<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/views/style.css">
    <script type="module" src="/views/login.js"></script>
    

</head>
<body>
    <header>
        <div>Playmobil</div>
    </header>

    <main>

        <form>
            <header>Validación de usuario</header>
            <label for="tTxtUsername">Usuario: </label>
            <input type="text" id="tTxtUsername" value="sonia.silverado" required>

            <label for="tPasPassword">Contraseña</label>
            <input type="password" name="" id="tPasPassword" value="s" required>

            <input type="button" value="Validar" id="tButValidateUser">
        </form>

    </main>


</body>
</html>