:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
    display: flex;
}

main {
    flex: 1 1 0;
    display: grid;
    place-content: center;
}