<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="./seleccionar-productos.js"></script>
</head>
<body>
    <header>Tienda</header>
    <main>
        <h1>Productos</h1>
        <div id="tDivProducts" class="container-products" style="display: inline-grid; grid-template-columns: repeat(3, auto);">
            <!-- <input type="checkbox" id="tChk1">
            <label for="tChk1">Máscara de pestañas</label>
            <div>25.95</div> -->
        </div>
    </main>
    
</body>
</html>