<!-- <input type="checkbox" (change)="favoriteStatusChangedHandler($event)">
<header>{{name()}}</header>
<img [src]="image()" [alt]="name()">
<div>{{price()}}€</div>
<div>
    <input type="number" value="1" #quantity>
    <button type="button" (click)="productToCartAddedHandler(quantity.value)">Añadir</button>
</div> -->



<div class="card bg-base-100 w-96 shadow-sm">
  <figure>
    <img
      [src]="image()"
      [alt]="name()" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{name()}}</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>