:root {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    background-image: url(./chuck-norris.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1, p {
    padding: 2rem;
    background-color: rgb(255, 255, 255, 0.5);
}