
:host {
    border: solid 5px blue;
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    corner-shape: scoop;
}

/* @container (width > 400px) {
    :host {
        flex-direction: row;
    }
} */

header {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    width: 150px;
}

div {
    text-align: center;
}