<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">

    <script type="module" src="../components/footer-app.component.js"></script>
    <script type="module" src="./categories.js"></script>
</head>
<body>
    <header class="header-app">
        <div>M</div>
        <div class="title">Arcas Store</div>
        <button class="login"></button>
    </header>

    <main>
        <h1>Categorías</h1>

        <div id="tDivCategories" class="container-categories">

            <!-- <div class="card-category">
                <header>Smartphones</header>
                <img src="dfsafsdf">
            </div> -->

        </div>
    </main>

    <footer-app></footer-app>
</body>
</html>