:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100dvh;
}

.header-app {
    .login {
        width: 2rem;
        height: 2rem;
        background-size: cover;
        position: relative;
    }

    .login:hover::before {
        content: attr(data-fullname);
        position: absolute;
    }
}

.container-categories {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
}

.card-category {
    border: solid;
    width: 150px;

    img {
        width: 100px;
        aspect-ratio: 1;
    }
}

.container-products {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
}

.card-product {
    border: solid;
    width: 150px;
    display: flex;
    flex-direction: column;

    img {
        width: 100px;
    }
}