<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">
    <script type="module" src="./products.js"></script>
</head>
<body>
    <header>Arcas Market</header>

    <nav>
        <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./categories.html">Categorías</a></li>
            <li><a href="./products.html">Productos</a></li>
        </ul>
    </nav>

    <main>
        <h1>Productos</h1>

        <div class="container-products">

            <!-- <div class="card-product">
                <header>IPhone 17</header>
                <img src="" alt="">
                <p>Price: 1195€</p>
            </div> -->

        </div>
    </main>
</body>
</html>